[http]
	postBuffer = 524288000
[user]
	name = Peterlits Zo
	email = peterlitszo@outlook.com
[core]
	editor = nvim
    autocrlf = input
    whitespace = cr-at-eol
[alias]
	llg = log --oneline -10 --graph
[commit]
	template = /home/peter/.gitmessage.txt
